@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Kanit", serif;
    @apply text-white;
  }
} 

body {
  background-color: #35496D;
  overflow-x: hidden;
}